{% extends "base.html" %}
{% set active_page = "home" %}

{% block content %}
    <p>Welcome to the home page</p><br/>

    <h2>Videos</h2>
    <table  class="table">
    {% for video in videos %}
        <tr>
            <th class="container">
                <div class="text-primary">{{ video.video_title }}</div>
            </th>
            <th class="text-info">Owner: {{ video.user_id }}</th>
            <th class="container">
            </th>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
