{% extends "base.html" %}
{% set active_page = "home" %}
{% block title %}Playback{% endblock %}

{% block content %}
    <video width="640" controls>
    <source src="/static/uploads/{{ video.video_loc }}" type="video/mp4">
        HTML5 video not supported. Try a different browser.
    </video>
    {% if  user == video.user_id %}
        <form method=post action="{{ url_for('playback', video=video.id ) }}">
            <button class="btn btn-success" type="submit">Delete Video</button>
        </form>
    {% endif %}

{% endblock content%}